---
import { getCollection } from "astro:content";
import 'remixicon/fonts/remixicon.css'
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostItem from "../../components/BlogPostItem.astro";
import BlogTag from "../../components/BlogTag.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pgTitle={tag}>
    <div>
        { posts.map((post) => <BlogPostItem post = {post} />) }
    </div>
    <div class="shadow-lg bg-gray-100"  slot="page-right">
      <div class="text-lg font-medium border-b border-black ">
        <i class="ri-price-tag-3-line"></i>
        标签</div>
      <div class=" flex flex-wrap h-fit ">
        <BlogTag tag={tag}/>
      </div>
    </div>
</BaseLayout>