---
import BaseLayout from '../layouts/BaseLayout.astro'
const pgTitle ='关于'
---

<BaseLayout pgTitle={pgTitle}>
    <div class="text-center">
    <p>这是一个博客网站，使用<code>astro</code>、<code>tailwindcss</code>构建，旨在记录日常心得！</p>
    <div>
</BaseLayout>
