---
import { getCollection } from "astro:content";
import 'remixicon/fonts/remixicon.css'
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostItem from "../components/BlogPostItem.astro";
import BlogTag from "../components/BlogTag.astro";
const allPosts = await getCollection("posts");
const pgTitle ='首页';
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

---
<BaseLayout pgTitle={pgTitle}>
		<div >
			{allPosts.map((post) =>
			<BlogPostItem post = {post} />
			)}
		</div>
		<div slot="page-right">
			<div class="shadow-lg bg-gray-100">
				<div class="text-lg font-medium border-b border-black ">
					<i class="ri-price-tag-3-line"></i>
				  标签
				</div>
				<div class=" flex flex-wrap h-fit ">
				{uniqueTags.map((tag) =>
					<BlogTag tag={tag}/>
				)}
				</div>
			</div>
		</div>
</BaseLayout>