---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const {tag} = Astro.props;

---

<a href={`/tags/${tag}/`}>
    <div class="flex item-end m-2 h-fit ">
        <div class="inline-block h-fit bg-cyan-50 hover:bg-cyan-100 rounded-tl-lg border-dashed hover:border-solid border-cyan-400 border-b-2 pr-2">
            {tag}<label class="font-light italic text-slate-400">({allPosts.filter((post) =>post.data.tags.includes(tag)).length})</label>
        </div>
    </div>
</a>
