---

---

<div class="flex flex-row  py-4 bg-stone-100 shadow-lg sticky top-0 z-10">
    <div class="flex flex-row items-end w-60">
        <div class="w-10 h-10 bg-[url('/favicon.svg')]"></div>
        <span class="text-4xl">健兼</span>
    </div>
    <div class="grow flex flex-row justify-center">
        <div class="inline-block text-2xl py-0.5 mx-1 px-1 hover:border-b-2 hover:border-blue-700 hover:text-blue-600">
        <a href="/"><i class="ri-home-8-line"></i>首页</a>
        </div>
        <div class="inline-block text-2xl py-0.5 mx-1 px-1 hover:border-b-2 hover:border-blue-700 hover:text-blue-600">
        <a href="/about/"><i class="ri-information-line"></i>关于</a>
        </div>
    </div>
    <div class="w-60"></div>
</div>