---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from "astro:transitions";

const {pgTitle} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pgTitle}</title>
        <ViewTransitions/>
	</head>
	<body class="mt-4 px-10 min-h-screen flex flex-col justify-between">
        <div  class="grow flex flex-col justify-start">
            <Header class="grow-0"/>
			<div class="grow flex justify-center w-full h-full mt-10">
				<div class="grow min-w-96 mr-4">
					<slot/>
				</div>
				<div class="grow-0 min-w-72 ml-4 pl-4">
					<slot name="page-right"/>
				</div>
			</div>
        </div>
        <Footer class="grow-0"/>
    </body>
</html>